<div class="<%= "#{lesson_container lesson['lessonType']}" %>">
  <div class="lesson-wrapper">
    <div class="subject"><%= lesson['subject'] %></div>
    <div class="employee"><%= lesson['employee'] %></div>
    <div class="auditory"><%= lesson['auditory'] %></div>
  </div>
</div>
