<div class="<%= "#{lesson_container lesson['lessonType']}" %>">
  <div class="lesson-wrapper">
    <h5><%= lesson['subject'] %></h5>
    <h6><%= lesson['employee'] %></h6>
    <h6><%= lesson['auditory'] %></h6>
  </div>
</div>
