<div id="schedule-table-pdf">
  <div class="page-break">
    <% week_numbers.each do |week_number| %>
      <div class="table-responsive">
        <table class="table table-responsive table-lessons-pdf">
          <tbody>
            <tr>
              <td colspan="100%">
                <div class="week">Неделя <%= week_number %></div>
              </td>
            </tr>
            <tr class="table-header">
              <th></th>
              <% lesson_time_boundaries.each do |lesson_time_boundary| %>
                <th>
                  <div class="lesson-time">
                    <%= lesson_time_boundary %>
                  </div>
                </th>
              <% end %>
            </tr>
            <% weekdays.each do |weekday| %>
              <tr>
                <td class="weekday-td">
                  <div class="weekday">
                    <%= weekday %>
                  </div>
                </td>
                <% lesson_time_boundaries.each do |lesson_time_boundary| %>
                  <td class="lesson-td"><%=
                    if does_lesson_exist?(@schedule_info[:schedule], week_number, weekday, lesson_time_boundary)
                      render partial: 'schedule/pdf/lesson',
                             locals: {
                               lesson: @schedule_info[:schedule][week_number][weekday][lesson_time_boundary],
                               current: false
                             }
                    end
                  %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
  </div>
</div>