<div id="colors-hint-panel" class="btn-group btn-group-justified center-block">
    <div class="btn btn-lg type-button lectures-button" id="lectures-button">Лекции</div>
    <div class="btn btn-lg type-button seminars-button" id="seminars-button">Практические</div>
    <div class="btn btn-lg type-button labs-button" id="labs-button">Лабораторные</div>
</div>
