<div class="btn-group btn-group-justified center-block" role="group">
  <%= link_to 'Главная', root_path, class: 'btn btn-lg center-block', id: 'home-button' %>
  <%= link_to 'PDF', {format: :pdf }, target: '_blank', class: 'btn btn-lg center-block', id: 'pdf-button' %>
</div>