<div id="toolbar">
  <div class="container-fluid">
    <div class="row row-centered">
      <div class="col-md-1 col-sm-2"><%= render 'schedule/footer/home_button' %></div>
      <div class="col-md-1 col-sm-2"><%= render 'schedule/footer/pdf_button' %></div>
      <div class="col-md-4 col-sm-0"></div>
      <div class="col-md-6 col-sm-8 pull-right">
        <%= render 'schedule/footer/group_switch' %>
      </div>
    </div>
  </div>
</div>