<%= form_tag '/get_group', method: 'get', :class => 'form-inline' do %>
  <div class="input-group">
    <%= text_field_tag :group_number, nil, class: 'form-control', placeholder: 'Введите номер группы', autofocus: true %>
  </div>
  <%= select_tag(:subgroup_number,
                 options_for_select([['Подгруппа 1', 1], ['Подгруппа 2', 2]]),
                 class: 'form-control dropdown-toggle') %>
  <%= submit_tag 'Показать расписание', class: 'btn btn-primary' %>
<% end %>

