<% title "Группа #{params[:group_number]}, подгруппа #{params[:subgroup_number]}" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <%= render partial: 'lesson_filters_panel', locals: { subjects_list: @subjects_list, employees_list: @employees_list, auditories_list: @auditories_list } %>
    </div>
    <div class="col-md-10">
      <%= render partial: 'schedule_table', locals: { schedule_hash: @schedule_hash, current_week: @current_week, current_day: @current_day, current_time: @current_time } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'toolbar' %>
    </div>
  </div>
</div>
