<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>День недели</th>
        <% lesson_time_boundaries.each do |lesson_time_boundary| %>
          <th><%= lesson_time_boundary %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% week_numbers.each do |week_number| %>
        <tr>
          <td colspan="100%"><h2>Неделя <%= week_number %></h2></td>
        </tr>
        <% weekdays.each do |weekday| %>
          <tr>
            <td><h4><%= weekday %></h4></td>
            <% lesson_time_boundaries.each do |lesson_time_boundary| %>
              <td>
                <%=
                  if @schedule_hash[week_number][weekday]
                    if @schedule_hash[week_number][weekday]
                      if @schedule_hash[week_number][weekday][lesson_time_boundary]
                        if @schedule_hash[week_number][weekday][lesson_time_boundary].any?
                          render partial: 'lesson', locals: {lesson: @schedule_hash[week_number][weekday][lesson_time_boundary]}
                        end
                      end
                    end
                  end
                %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>