<% title "Выберите группу" %>

<div class="jumbotron">
  <div class="container">
    <h1>BSUIR Schedule Complete</h1>
    <p class="lead">Расписание группы БГУИР в наглядном виде</p>
    <%= link_to "https://github.com/vmakoed/bsuir-schedule-complete", target: "_blank" do %>
      <div id="github-floating-button"></div>
    <% end %>
    <%= render 'form' %>
  </div>
</div>
