<% title 'Выберите группу' %>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>BSUIR Schedule Complete</h1>
        <p class="lead">Расписание группы БГУИР в наглядном виде</p>
        <%= link_to 'https://github.com/vmakoed/bsuir-schedule-complete', target: '_blank' do %>
          <div id="github-floating-button"></div>
        <% end %>
        <%= render 'layouts/messages' %>
        <%= render partial: 'form',
                   locals: { default_group_number: @group_number, default_subgroup_number: @subgroup_number } %>
      </div>
    </div>
  </div>
</div>
