<div class="jumbotron">
  <div class="container">
    <h1>BSUIR Schedule Complete</h1>
    <p class="lead">Расписание группы БГУИР в наглядном виде</p>
    <%= form_tag "/get_group", method: "get", :class => "form-inline" do %>
    <div class="input-group">
      <%= text_field_tag :group_number, nil, class: 'form-control', placeholder: 'Введите номер группы' %>
    </div>
    <%= select_tag(:subgroup_number, options_for_select([['Подгруппа 1', 1], ['Подгруппа 2', 2]]), class: 'form-control btn dropdown-toggle') %>
    <%= submit_tag "Показать расписание", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>