#filters-sidebar-wrapper {
  height: 100%;
  position: fixed;
  right: 0;
  padding-bottom: 70px;
  padding-right: 0;
  border-left: 1px solid #e0e0e0;
  background-color: #f5f5f5;
}

#filters-sidebar {
  position: relative;
  height: 100%;
  overflow-y: auto;

  .list-group-item {
    background-color: #f5f5f5;
  }

  .filter-button {
    text-align: left;
    overflow: hidden;
    display: flex;
    align-items: center;

    span {
      padding-right: 10px;
      visibility: hidden;
    }
  }

  .btn.active {
    box-shadow: none;

    span {
      visibility: visible;
    }
  }
}

#filters-sidebar .list-group-item {
  border: none;
}

@media screen and (max-width: 992px) {
  label {
    font-size: 13px;
  }
}

@media screen and (min-width: 993px) {
  label {
    font-size: 0.8vw;
  }

  span {
    font-size: 0.8vw;
  }

  .filter-button {
    height: 2.7vw;
  }
}