nav {
  border-bottom: 1px solid #e5e5e5 !important;
}

#nav-form {
  text-align: center;
}

.navbar {
  margin-bottom: 0px!important;
}

.navbar-button {
  padding: 2px !important;
  margin-right: 10px;
  width: 37px;
  height: 37px;

  span {
    font-size: 2em;
    vertical-align: middle;
  }
}

.navbar-button-active {
  color: #212121!important;
}