.navbar-button {
  padding: 2px !important;
  margin-right: 10px;
  width: 37px;
  height: 37px;

  span {
    font-size: 2em;
    vertical-align: middle;
  }
}

.navbar-button-active {
  color: #212121!important;
}