.lesson-container {
  text-align: center;
  height: 100%;
  position: relative;
  padding: 0;
  display: block;

  h4, h5 {
    color: #fff;
  }
}

.lesson-wrapper {
  position: absolute;
  padding: 2px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lesson-container-hidden {
  opacity: 0;

  h4, h6 {
    opacity: 0;
  }
}

.lesson-container-lecture {
  background-color: #1ea462;

  h6 {
    font-weight: bold;
    color: #C8E6C9;
  }
}

.lesson-container-seminar {
  background-color: #4486f1;

  h6 {
    font-weight: bold;
    color: #BBDEFB;
  }
}

.lesson-container-lab {
  background-color: #dc4a3d;

  h6 {
    font-weight: bold;
    color: #ffcdd2;
  }
}

.badge-current {
  position:absolute;
  top: 5px;
  right: 5px;
  background-color: #fff !important;
  font-weight: bold !important;
}

.badge-current-lecture {
  color: #4caf50 !important;
}

.badge-current-seminar {
  color: #03a9f4 !important;
}

.badge-current-lab {
  color: #f44336 !important;
}
