.lesson-container {
  text-align: center;
  height: 100%;
  position: relative;
  display: block;
  color: #fff;
  padding: 0;

  h4, h5 {
    color: #fff;
  }

  .subject {
    line-height: 125%;
    font-size: 1.2vw;
  }

  .employee, .auditory {
    font-size: 0.8vw;
    font-weight: bold;
    opacity: 0.7;
    line-height: 150%;
  }
}

.lesson-wrapper {
  position: absolute;
  padding: 2px;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lesson-container-hidden {
  opacity: 0;

  h4, h6 {
    opacity: 0;
  }
}

.lesson-container-lecture {
  background-color: #1ea462;
}

.lesson-container-seminar {
  background-color: #4486f1;
}

.lesson-container-lab {
  background-color: #dc4a3d;
}

.badge-current {
  position:absolute;
  top: 5px;
  right: 5px;
  background-color: #fff !important;
  font-size: 0.8vw !important;
  font-weight: bold !important;
}

.badge-current-lecture {
  color: #4caf50 !important;
}

.badge-current-seminar {
  color: #03a9f4 !important;
}

.badge-current-lab {
  color: #f44336 !important;
}
