#schedule-table-wrapper {
  position: fixed;
  left: 0;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 70px;
}


#schedule-table {
  position: relative;
  height: 100%;
  overflow-y: auto;

  .lesson-td {
    width: 1000px;
    height: 125px;
    padding: 2px !important;
  }
}

#schedule-table-pdf {
  .lesson-td {
    width: 1000px;
    height: 100px;
    padding: 2px !important;
  }
}

#schedule-table, #schedule-table-pdf {
    .table th, .table td {
    border: none !important;
  }

  .weekday-td h4 {
    padding-right: 25px;
  }

  .table-header {
    background-color: #fafafa;

    h5 {
      font-weight: bold;
      text-align: center;
      color: #666;
    }

    .th-current-lesson {
      background-color: #eee;

      h5 {
        color: #212121;
      }
    }
  }

  thead {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .weekday-tr td {
    background-color: #f5f5f5;
  }

  .weekday-td {
    padding-left: 30px;
  }

  .weekday-label {
    font-weight: bold;
    text-align: center;
  }

  .tr-current-week-header {
    h5 {
      color: #4e4e4e;
    }
  }

  .tr-current-week {
    background-color: #e0e0e0;
  }

  .tr-current-day {
    background-color: #f5f5f5;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);

    td:first-child h4 {
      font-weight: bold;
    }
  }
}