// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table th, .table td {
  border: none !important;
}

.table-header {
  background-color: #fff;

  h5 {
    font-weight: bold;
    text-align: center;
    color: #666;
  }

  .th-current-lesson {
    background-color: #eee;

    h5 {
      color: #212121;
    }
  }
}

thead {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.weekday-tr td {
  background-color: #F5F5F5;
}

.weekday-label {
  font-weight: bold;
  text-align: center;
}

.tr-current-week-header {
  h5 {
    color: #4e4e4e;
  }
}

.tr-current-week {
  background-color: #e0e0e0;
}

.tr-current-day {
  background-color: #F5F5F5;

  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);

  td:first-child h4 {
    font-weight: bold;
  }
}
