#schedule-table-wrapper {
  position: fixed;
  left: 0;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 70px;
}

#schedule-table, #schedule-table-pdf {
  .table th, .table td {
    border: none !important;
  }

  .weekday-td {
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
  }

  .table-header {
    background-color: #fafafa;

    .th-current-lesson {
      background-color: #eee;

      .lesson-time {
        color: #212121;
      }
    }
  }

  thead {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .weekday-tr td {
    background-color: #f5f5f5;
  }

  .weekday-label {
    font-weight: bold;
    text-align: center;
  }

  .tr-current-week-header {
    .week {
      color: #4e4e4e;
    }
  }

  .tr-current-week {
    background-color: #e0e0e0;
  }

  .tr-current-day {
    background-color: #f5f5f5;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);

    .weekday {
      font-weight: bold;
    }
  }

  .lesson-td {
    width: 1000px;
    padding: 2px !important;
  }

  .lesson-time {
    text-align: center;
  }

  .week {
    text-align: center;
    font-weight: bold;
  }

  .weekday {
    line-height: 125%;
  }
}

#schedule-table {
  position: relative;
  height: 100%;
  overflow-y: auto;

  .large-only {
    .lesson-td {
      height: 5vw;
    }

    .lesson-time {
      font-size: 1vw;
    }

    .week {
      font-size: 1vw;
    }

    .weekday {
      font-size: 1.2vw;
    }
  }

  .small-only {
    td:first-child {
      vertical-align: middle;
    }

    .lesson-time {
      font-size: 24px;
      line-height: 125%;
      font-weight: bold;
    }

    .week {
      font-size: 32px;
    }

    .weekday {
      text-align: center;
      font-size: 32px;
      font-weight: normal;
    }

    .tr-current-day {
      .weekday {
        font-weight: bold;
      }
    }
  }

}

#schedule-table-pdf {
  .lesson-td {
    height: 100px;
  }

  .lesson-time {
    font-size: 18px;
  }

  .week {
    font-size: 18px;
  }

  .weekday {
    font-size: 22px;
  }
}