.toolbar {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  height: 70px;
  padding-top: 10px;
  background-color: #fff;
}

.type-button {
  color: #fff !important;
}

.lectures-button {
  background-color: #4CAF50;
}

.lectures-button:hover {
  background-color: #3D8A3F;
}

.seminars-button {
  background-color: #03A9F4;
}

.seminars-button:hover {
  background-color: #0284C0;
}

.labs-button {
  background-color: #F44336;
}

.labs-button:hover {
  background-color: #E91B0C;
}

#pdf-button {
  padding-left: 0;
  padding-right: 0;
}

#home-button {
  font-size: 17px;
}

#subgroup-switch {
  height: 43px;
}
